alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias wudo="python3 ~/archives/utilities/wsl-sudo/wsl-sudo.py"
alias startvm="wudo /mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe Start-VM -Name centos7"
alias stopvm="wudo /mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe Stop-VM -Name centos7"
alias con="startes; ssh -i ~/keys/private_key vagrant@192.168.0.238"
alias mk="minikube kubectl"
alias cc="which g++"
alias mind="cd /mnt/g/obsfolder/mind"